
/* 用于存放被继承的通用类 */

/* 通用按钮样式 */
// 空

// 模态框view布局
.modal-box {
  background: #ffffff;
  border-top-left-radius: $b-rds-40;
  border-top-right-radius: $b-rds-40;
}

.shop-logo-large {
  width: 120px;
  height: 120px;
  border-radius: $b-rds-10;
}